
/*edits options for the body*/
body {
    margin: 0;
    color: gainsboro;
    font-family: 'Trebuchet MS', sans-serif;
}

/*********** HEADER ************/
/*creates options for the menu otions*/
header {
    text-align: right;
    padding: 10px;
    background-color: #f8f8f8;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

/**/
header a {
    padding-right: 50px;
    padding-top: 5px;
    margin: 0;
    overflow: hidden;
    display: inline-block;
    color: black;
    text-decoration: none;
    text-align: right;
}

/*removes hyperlink appearances*/
link {
    text-decoration: none;
}
/*aligns the logo*/
h1 {
    text-align: left;
}
/*provides continuity for all text blocks*/
p {
    color: darkgrey;
    font-size: small;
    font-family: 'Trebuchet MS', sans-serif;
}



/*********** BODY ************/
/*provides options for setting up columns so they fit the browser size*/
#wrap {
    width:100%;
    margin:0 auto;
}

/*left column will always take up 30%*/
#left_col {
    padding: 20px;
    text-align: center;
    float:left;
    width:30%;
}

#left_col2 {
    text-align: center;
    float:left;
    width:75%;
}

/*right column will take 60%, leaving 10% for white space*/
#right_col {
    float:right;
    width:60%;
}

#right_col2 {
    padding-top:20px;
    float:right;
    width:25%;
}

/*aligns all images in a row*/
#gallery_rows {
    display: flex;
    flex-wrap: wrap;
}
/*aligns all images in a column*/
#gallery_cols {
    flex: 50%;
    padding-left: 30px;
    text-align: center;
}
/*centers and colorizes heading*/
h3 {
    color: darkgrey;
    text-align: center;
}
/*allows product titles to stand out*/
h2 {
    padding-left: 100px;
    padding-top: 50px;
    color: darkgrey;
    font-size: xx-large;
}
/*consistency for buttons*/
button {
    background-color: darkgrey;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
}
/*pushes images*/
#images {
    padding-left: 100px;
}
/*pushes and spaces labels*/
#labels {
    padding-left: 150px;
    word-spacing: 100px;
}
/*allows for consistency in the menu on the products page*/
#product_menu {
    font-size: x-large;
    display: inline-block;
    text-decoration: none;
    color: darkgrey;
    text-align: left;
    padding-left: 50px;
}
/*italicizes link text when mouse hovers*/
a:hover {
    font-style: italic;
}

/*places description against image*/
#description {
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 300px;
}
/*formats text on about page*/
#about {
    padding-left: 150px;
    padding-right: 270px;
}

#fullcart {
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 15%;
    width: 100%
}

th {

}

tr {

}