

body {
    margin: 0;
    color: gainsboro;
    font-family: 'Trebuchet MS', sans-serif;
}

/*********** HEADER ************/
header {
    text-align: right;
    padding: 10px;
    background-color: #f8f8f8;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

header a {
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: inline-block;
    color: black;
    text-decoration: none;
    text-align: right;
}

link {
    text-decoration: none;
}

h1 {
    text-align: left;
}

p {
    color: darkgrey;
    font-size: small;
    font-family: 'Trebuchet MS', sans-serif;
}



/*********** COLUMNS ************/
#wrap {
    width:100%;
    margin:0 auto;
}

#left_col {
    padding: 20px;
    text-align: center;
    float:left;
    width:30%;
}

#right_col {
    float:right;
    width:60%;
}

#gallery_rows {
    display: flex;
    flex-wrap: wrap;
}

#gallery_cols {
    flex: 50%;
}

h3 {
    color: darkgrey;
    text-align: center;
}


button {
    background-color: darkgrey;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
}

#images {
    padding-left: 100px;
}

#labels {
    padding-left: 150px;
    word-spacing: 100px;
}

#product_menu {
    font-size: x-large;
    display: inline-block;
    text-decoration: none;
    color: darkgrey;
    text-align: left;
    padding-left: 50px;
}

a:hover {
    font-style: italic;
}
